<html>

<head>
    <style>
        .copyright {
            margin: 10px 0;
            padding: 10px 20px;
            line-height: 1;
            border-radius: 5px;
            font-style: italic;
            background: #111;
            color: #fff;
            text-align: left;
            display: inline-block;
        }
    </style>
</head>

<body>
    <hr>
    <div class="copyright">
        <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <span>您是小文第<span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span>位读者</span>
    </div>
</body>

</html>