---
---

@import 'main';

// customise bold text color
.content b,
.content strong {
  color: var(--peach);
  border-radius: 4px;
  font-weight: bolder;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  border-bottom: 2px solid var(--surface0);
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}
